*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 10px;
}

.wrapper{
    font-size: 2rem;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*3 fraçoes iguais*/
    grid-auto-rows: minmax(100px, auto);/*altura minima da linha*/
    grid-column-gap: 10px;/*cia espaçamento entre colunas*/
    grid-row-gap: 2px;
}
.box1{
    background: rgb(116, 116, 214);
    grid-column-start: 1;/* ou grid-column: 1/4inicia na linhas coluna 1*/
    grid-column-end: 4;/*vai até a linha 4, isso quer dizer que o proximo elemento iniciará na proxima grid-box*/
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;/*vai sobrepor o box2 pois o index é acima*/
    /* display: grid; para criar um grid aninhado
    grid-template-columns: repeat(3, 1fr); */
    
}
.box2{
    background: yellowgreen;
    grid-column-start: 1;
    grid-row: 2/4;
    z-index: 1;
}
.box3{
    background: pink;
}
.box4{
    background: orange;
}
.box5{
    background: powderblue;
}

.exemplo{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    
}
.box{
    margin-left: 5px;
    color: red;
    margin-top: 25px;
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    
    font-size: 25rem;
    overflow: auto;
    max-height: 100%;
}