 /* css DEFAULTS and RESETS */

:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --tertiary-color: #2980b9;
  --accent-color: #1abc9c;
  --complementary-color: #16a085;
  --bg-color: #ecf0f1;

}

h1, h2, h3, p, , button, body, textarea, .inputBox textarea {
  font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

body {

  background-color: var(--bg-color);
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  padding-top: 60px;
}

h1 {
  color: var(--primary-color);
  font-size: 2em;
  text-align: center;
  padding: 40px 0;
}

h3 {
  color: var(--secondary-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  color: var(--tertiary-color);
  font-size: 1em;
  margin-bottom: 20px;
}

button {
  background: var(--accent-color);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.125em;
  padding: 10px 20px;
  margin: 20px 0;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: var(--complementary-color);
}


 /* HEADER */

header {
  background: var(--primary-color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 20px;
  line-height: 40px;
}

nav img {
  width: 50px;
  height: 50px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background: var(--secondary-color);
  min-width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropdown-menu a {
  padding: 12px 20px;
}

.dropdown-menu a:hover {
  background: var(--tertiary-color);
  border-radius: 8px;
  transition: all 0.4s
}

.show {
  display: block;
}

.presentation {
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}

.feature-item {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
  width: 100%;
}

.feature-item img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
}

.feature-item h3 {
  color: var(--accent-color);
  font-size: 1.75em;
  margin-bottom: 10px;
}

.feature-item p {
  color: var(--tertiary-color);
}

.feature-image,
.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slide {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/*  CONTACT SECTION  */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: var(--primary-color);
  height: 100vh;
}

 .inputBox {
   position: relative;
   width: 350px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--primary-color);
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  .inputBox input:valid ~ span, 
  .inputBox input:focus ~ span {
    color: var(--accent-color);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--primary-color);
    border-left: 1px solid var(--accent-color); 
    border-right: 1px solid var(--accent-color); 
    letter-spacing: 0.2em;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border-color: var(--accent-color);
  }
  
  .inputBox textarea {
    width: 100%;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--primary-color);
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    resize: none;
    height: 100px; 
    font-family: 'Roboto', sans-serif;
  }
  
  .inputBox textarea:valid ~ span,
  .inputBox textarea:focus ~ span {
    color: var(--accent-color);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--primary-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    letter-spacing: 0.2em;
  }
  
  .inputBox textarea:valid,
  .inputBox textarea:focus {
    border-color: var(--accent-color);
  }
  
  .advantages {
    margin: 40px auto;
    max-width: 1100px;
    text-align: center;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .advantages-title {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .advantage-item {
    margin: 20px auto;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .advantage-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .advantage-item h3 {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }
  
  .advantage-item p {
    font-size: 1em;
    color: var(--tertiary-color);
    margin-bottom: 20px;
  }
  /* FOOTER */

footer {
  background: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-logo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-description,
.footer-contact,
.footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  font-size: 0.875em;
  margin-top: 20px;
}
.footer-social a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  padding: 0;
}

.footer-social a:hover .social-icon {
  fill: var(--secondary-color);
}

.social-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px; /* Adicione espaço à direita de cada ícone */
}


/* Responsividade */

@media screen and (max-width: 480px), screen and (max-width: 768px)  {
  
  .features {
    flex-direction: column;
  }

  .feature-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .inputBox {
    width: 80%;
  }
}


@media screen and (max-width: 768px) {
  h1, h3, p {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .image-slider {
    height: 300px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .image-slider {
    height: 200px;
  }
  .advantages {
    height: auto;
    padding: 20px;
  }
  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 0.9em;
  }
}

section:first-child {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dropdown {
    display: flex;
  }

  .dropdown .dropdown-toggle {
    display: none;
  }

  .dropdown-menu {
    display: flex;
    position: static;
    background-color: transparent;
    box-shadow: none;
  }

  .dropdown-menu a {
    padding: 0 20px;
  }

  .feature-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .feature-image,
  .feature-text {
    flex: 1;
  }

  .feature-text {
    padding-left: 30px;
  }


  .feature-item {
    flex-direction: row;
    width: calc(100% - 40px);
  }
  
}


@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}



/* 404 Page */

.error-section {
  text-align: center;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-section h1 {
  font-size: 6em;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.error-section p {
  font-size: 1.5em;
  color: var(--tertiary-color);
  margin-bottom: 24px;
}

.error-section a {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1.125em;
}

.error-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/404notfound.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
