@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #444;
  --color-grey-light: #666;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header .nav-container {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    #c43c4c,
    #dd9ca4,
    #651e27,
    #75232d,
    #712730
  );
  background-size: 300% 300%;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.logo {
  width: 100%;
  height: auto;
  width: 80px;
  height: 80px;
  margin: 5px 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.nav_bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar li {
  list-style: none;
  margin-left: 30px;
}

.nav_bar a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
}

.nav_bar ul li a:hover {
  color: var(--color-white);
  transition: all 200ms linear 0s;
  border-bottom: 1px solid var(--color-white);
}

.main {
  position: relative;
  top: 11rem;
}

.main section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 23rem;
  margin: 1rem 6rem;
  box-shadow: 10rem 4rem 6rem rgb(0 0 0 / 5%);
}

.main figure {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-article {
  align-self: center;
  font-size: 1.1rem;
  margin: 0 8rem;
}

.text-article p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-grey-light);
}

.text-products {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-grey);
  font-weight: 400;
  border-bottom: 4px solid var(--color-tertiary);
  width: 18rem;
}

.btn-1 {
  border: none;
  color: white;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 24px 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-2 {
  background-color: white;
  color: black;
  border: 2px solid #dcdcdc;
}

.btn-2:hover {
  background-color: #f5f5f5;
}

.picture {
  background-color: rgba(0, 0, 0, 5%);
  padding: 0.5rem;
  width: 60%;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
}

.picture:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 25rem;
  color: var(--color-grey);
}

.conteudo p {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}

/* ESTRUTURA DO FOOTER */

.rodape {
  position: relative;
  margin-top: 15rem;
  align-items: center;
  background-color: var(--color-black);
  height: 200px;
  color: var(--color-white);
}

.rodape .redes-sociais ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodape .redes-sociais a {
  list-style: none;
  margin-top: -1.7rem;
  cursor: pointer;
  color: var(--color-white);
}

.rodape .redes-sociais a:hover {
  color: var(--color-white);
}

.rodape .redes-sociais a i {
  transition: 0.6s;
  padding: 20px 55px;
}

.color-01 {
  background-color: #c43c4c;
}

.color-02 {
  background-color: #75232d;
}

.color-03 {
  background-color: #dd9ca4;
}

.color-04 {
  background-color: #651e27;
}

.rodape .redes-sociais a i:hover {
  transform: scale(1.3);
}

.container-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 5rem;
}

.container-links li {
  margin-left: 3rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.container-links li i {
  font-size: 1.2rem;
}

.container-links li i {
  margin-right: 0.5rem;
}

.container-links .company {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 481px) {
  .main section {
    display: flex;
    flex-direction: column;
    grid-auto-rows: 10rem;
    box-shadow: none;
  }

  .main figure {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .picture {
    background-color: rgba(0, 0, 0, 5%);
    padding: 0.5rem;
    width: 100%;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.7s ease;
    transition: transform 0.7s ease;
  }

  .picture:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .text-article {
    align-self: center;
    font-size: 1.1rem;
    margin: 0 8rem;
    margin-top: 2rem;
    order: 1;
  }

  .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 6rem;
    color: var(--color-grey);
  }
  .conteudo p {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
  }

  .container-show-room {
    box-shadow: 10rem 4rem 6rem rgb(0 0 0 / 20%);
  }

  .container-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 4rem;
  }

  .container-links li {
    margin-left: 1.2rem;
    font-size: 0.8rem;
    font-weight: 300;
  }

  .container-links li i {
    font-size: 1.2rem;
  }

  .container-links li i {
    margin-right: 0.5rem;
  }

  .container-links .company {
    font-size: 1rem;
    font-weight: 500;
  }

  .rodape .redes-sociais a i {
    transition: 0.6s;
    padding: 15px 35px;
  }
}
