@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --black: #0D0D0D;
    --bege: #D9C7B8;
    --cinza: #6F6E73;
    --white: #F2F2F2;
}

/*Obs: Configuração para 1280px*/
body {
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------------------------HEADER-----------------------------------------------------*/
header {
    background-color: var(--bege);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    width: 100%;
}

.header-container {
    align-items: center;
    display: flex;
}

/*menuNormal-----------*/
.menuNormal-lista {
    display: flex;
    gap: 1.5rem;
    /*24px*/
    margin: 0 1rem;
    position: absolute;
    right: 0;
    top: 35%;
    /*Dúvida de como deixar o mnu-item para o canto direito*/

}

.menuNormal-item {
    font-size: 1.12rem;
    /*17.92px*/
    font-weight: 500;
    list-style: none;
}

.menuNormal-link {
    color: var(--black);
}

.menuNormal-link:hover {
    background-color: var(--black);
    color: var(--white);
}



/*----------------------------------------------------MAIN-------------------------------------------------------*/
main {
    background-color: var(--black);
}

main > section {
    height: 85vh;
}

article{
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    max-width:50vh; 
}

/*Title (FIXO)--------*/
/*Esse tem em todas as sections*/
.title-container {
    display: flex;
}

.title-quadrado {
    align-items: center;
    display: flex;
    background-color: var(--cinza);
    height: 45px;
    width: 151px;
}

.title {
    font-weight: 400;
    position: relative;
    color: var(--white);
    right: 20%;
}

/*Padrão de Estilo das sections: Quem somos, Onde estamos, */
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
}

.content{
    align-items: center;
    display: flex;
    border: 5px solid var(--cinza);
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    padding: 1rem;
    text-align: center;
    max-width:65vh;
}

/*---------------HOME----------------*/
.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.home-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.home-paragraphy {
    border: 2px solid var(--cinza);
    padding: 1rem;
    width: 60vw;
    text-align: center;
}

.text {
    color: var(--white);
}

/*---------------QUEM SOMOS?----------------*/
.quemSomos {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    
}

.quemSomos-container{
    width: 48vh;
}

.social-link {
    margin: 0 1rem;
}

.quemSomos-container-photos {
    display: grid;
    grid-template-columns: 
    "photo-1"
    "photo-2"
    "photo-3"
    "photo-4";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,9vh);
}

.photo-1{
    grid-area: photo-1;
    grid-column: 1/1;
    grid-row: ;
}

.photo-2{
    grid-area: ;
    grid-column: 2/2;
    grid-row: ;
}

.photo-3{
    grid-area: ;
    grid-column:1/1 ;
    grid-row: ;
}

.photo-4{
    grid-area: ;
    grid-column: 1/1;
    grid-row: ;
}

.quemSomos-photos{
    width: 11rem;
    max-width: 20em;
}


/*---------------NOSSOS SERVIÇOS----------------*/
.nossoServico {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nossoServico-container {
    align-items: center;
    border: 2px solid var(--cinza);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 85vw;
    padding: 1rem;
    height: 45vh;
    width: 70vw;
}

.nossoServico-content {
    display: flex;
    gap: 3rem;
    padding: 1em;
}

.nossoServico-quadrado {
    background-color: var(--bege);
    box-shadow: 10px 10px 1px var(--cinza);
    height: 14em;
    max-width: 15em;
}

.nossoServico-text {
    font-size: 13px;
    margin: 1rem;
    text-align: center;
}

/*---------------FAQ/Perguntas Frequentemente----------------*/
/*Fazer com o GRID*/
.faq{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.faq-content{
    display: grid;
    grid-template-areas: 
    "quadrado-1"
    "quadrado-2"
    "quadrado-3"
    "quadrado-4";
    grid-template-columns: repeat(4, 23.5vh);
    grid-template-rows: repeat(5,4.5em);
    gap: .5em;
    justify-content: center;
    text-align: center;
}

.quadrado-1{
    border: 2px solid var(--cinza);
    grid-column:1/2 ;
    grid-row:2/6 ;
    padding: 1em;
    margin-right: 1rem;
}

.quadrado-2{
    border: 2px solid var(--cinza);
    grid-column:2/3 ;
    grid-row:1/5 ;
    padding: 1em;
    margin-right: 1rem;
}

.quadrado-3{
    border: 2px solid var(--cinza);
    grid-column: 3/4;
    grid-row:2/6;
    padding: 1em;
    margin-right: 1rem;
}

.quadrado-4{
    border: 2px solid var(--cinza);
    grid-column:4/5;
    grid-row:1/5 ;
    padding: 1em;
    margin-right: 1rem;
}

/*---------------Onde Estamos?--------------------------------*/
.ondeEstamos {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.ondeEstamos-content{
    height: 35vh;
    max-width: 38vw;
}

.ondeEstamos-mapa{
    max-width: 30rem;
}

/*---------------Contato---------------------------------------*/
.contato{
    align-items: center;
    display: flex;
    justify-content:center ;
}

.contato-container{
    align-items: center;
    border: 2px solid var(--cinza);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--white);
    height: 44vh;
    justify-content: center;
    padding: 1rem .5rem;
    width: 40vw;
    max-width: 40rem;
}

.contato-box{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.contato-input{
    background-color: var(--bege);
    border-radius:1.2rem ;
    padding: .5em;
    height: 4vh;
}

.contato-button{
    background-color: var(--cinza);
    border-radius: .8rem;
    color: var(--white);
    font-size: 1rem;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    height: 5vh;
    width: 10rem ;
}

.contato-button:hover{
    background-color: var(--bege);
    color: var(--black);
}

/*---------------FOOTER---------------------------------------*/
footer{
    background-color: var(--bege);
    height: 4vh;
}

.footer-text{
    font-weight: 500;
    text-align: center;
}