/* MODAL */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #444;
  --color-grey-light: #666;
  --color-classic-green: #4caf50;
}

.modal {
  width: 500px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 2rem 3rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.modal-header {
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--color-grey);
}

.modal-form {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.modal-form label {
  font-size: 1.2rem;
  color: var(--color-grey-light);
  font-weight: 400;
}

.modal-form input {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-grey-light);
  border-radius: 0.2rem;
}

input::placeholder {
  opacity: 0.2;
}

.button {
  background-color: var(--color-classic-green); /* Green */
  border: none;
  color: var(--color-white);
  padding: 0.6rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.modal-form .button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn-close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-grey);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 481px) {
  .modal {
    width: 450px;
    height: 350px;
  }
}
