*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
} 

header{

    display: flex;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 0.02rem 0.3rem rgb(245, 243, 243);
    background-color: rgb(19,34,53);
}
header #image{

    height: 95.5%;
    width: 10vw; 
}

nav{

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu{

    display: flex;
    width: 55%;
    justify-content: space-between;    
    
}

#icon{

    display: flex;
    height: 100%;
    width: 20%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2rem;
}

header  a{

    cursor: pointer;
    color: aliceblue;

}

main{
/* 
    display: flex;
    flex-direction: column; */
    height: 100vh;
    width: 100vw;
    margin-top: 65px; 
    background-color: rgb(19,34,53);
    color: whitesmoke;
}

.vida{

    
    display: flex;
    flex-direction: column; 
    height: 100%;
    margin-top: 65px; 
    background-color: rgb(19,34,53);
    color: whitesmoke;
    
}
.vida label{

    display: flex;
    flex-direction: column;
}

.vida input{

    display: flex;
    flex-direction: column;
}