*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

header {        
    padding: 30px 6%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Logo {
    color: rgb(221, 144, 20);
    font-size: 20px;
    line-height: 25px;
    font-family:'Ubuntu', sans-serif; ;
}

.navlist{
    display: flex;
    align-items: center;
}

.navlist a {
 color: black;
 margin: 20px;
 font-size: 15px;
 }

 .navlist li {
    display: inline-block;
 }
 

 .navlist :hover{
    color: rgb(221, 144, 20);
 }

.Logo h1{
    padding: 7px;
}


/*Criando estilos na main*/


main {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(245.59deg,#b6580a 0%,#2b1a0e 26.53%, #1b1a1a 75.52%)
}

article {

    display: flex;
    max-width: 50%; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 2em;
}

article h1 {    
    color: #ffffff;
}

img {
    max-width: 500px;
}

/*estilizando botão abrir-conta*/

#Abrir-conta {
    background-color: #ffffff;
    padding: 10px 50px;  /* fundo do botão "abra-conta" espacamento entre texto e botão primeiro altura e depois largura*/
    border: none; /* Tirar borda do botão "abra-conta"*/
    font-weight: bolder; /*Força da fonte*/ 
    border-radius: 20px; /*arredondamento do botão*/
    cursor: pointer; /*Caracter de dedinho quando se passa o mouse pelo botão da pagina*/
    margin-top: 50px; /*Margem superior do ultimo enunciado*/
}

#Abrir-conta:hover{
    background-color: #b6580a;
    color: #ffffff; 
}
/* Estilização da sessão "Conta-corrente-digital"*/

.Conta-corrente-digital {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* Estilização da imagem 2*/

.imagem {
    flex: 1 ; /*/* Ocupa metade da largura da seção */
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.imagem img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
/* Estilo CSS para o texto */

.texto{
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
.texto h1{
    padding: 20px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.5);     
}

.texto a {
    padding: 10%;
    color: black;
}

.texto a:hover{
    color:#b6580a;
}

/* Estilização da sessão "Cartao"*/

.Cartao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* Estilização cartao*/

.imagem-02 {
    flex: 1 ; /*/* Ocupa metade da largura da seção */
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.imagem-02 img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    height: 100%;
    object-fit: cover;
}
/* Estilo CSS para o texto */

.texto-02{
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
.texto-02 h1{
    padding: 20px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.5);     
}

.texto-02 a {
    padding: 10%;
    color: black;
}

.texto-02 a:hover{
    color:#b6580a;
}
/*Estilizando "abrir conta"*/

#Container-abrir-conta {
    background-color: #b6580a;
    color: white;
    text-align: center;
    padding: 100px 0;
}

#Container-abrir-conta h2{
    padding: 30px;
    font-weight: bold; 
}
/* Estilo CSS para o formulário de abrir conta */

.formulario{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.formulario input [type="texto"],
.formulario input [type="CPF"] {
    width: 100%;
    padding: 20%;
    margin: 30px;
    border: none;
    border-radius: 5px;
}
.formulario button {
    color:black;
    padding: 2px 8px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.formulario button:hover{
    background-color: #b6580a;
    color: white
}

/* Estilização cartao*/

.App {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* Estilização da imagem 2*/

.imagem-app {
    flex: 1 ; /*/* Ocupa metade da largura da seção */
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.imagem-app img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
/* Estilo CSS para o texto */

.texto-app{
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
.texto-app h1{
    padding: 20px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.5);     
}

.texto-app a {
    padding: 10%;
    color: black;
}

.texto-app a:hover{
    color:#b6580a;
}
